<%- include header %>
<h3><%= title %></h3>
<form method="post">
<input type="text" name="keyword" class="search-query" placeholder="Search" />
<input type="submit" value="Go" class="btn btn-info"/>
</form>
<%- include footer %>