<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>NB Reader</title>
<link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>

<header>
<h1><%= title %></h1>
</header>

<nav>
<span><a title="All" href="/">all</a></span>
<span><a title="Find" href="/find">find</a></span>
<span><a title="Find" href="/load">load</a></span>
</nav>

<article>